*
!.gitignore
!Modelisation/
!Modelisation/**
# Ignorer dossiers de build et fichiers temporaires
bin/
obj/
*.user
*.vs/
*.log

# Ignorer tout dans Bureau sauf ton projet BrasilBurger
Bureau/*
!Bureau/C#/BrasilBurger.web/BrasilBurgerAspNet/
!Bureau/C#/BrasilBurger.web/BrasilBurgerAspNet/**

# Garder le .gitignore lui-même
!.gitignore
